extends ../layout

block content
    h1= title
    if errors.errors !== undefined
        each message in errors.errors
            p=message

    form(method="post")
        p
        label Tytuł newsa
        p
        input(type="text" name="title" value=body.title||"")
        p
        label Treść
        p
        textarea( name="description")=body.description||""
        p
        input(type="submit" value="Zapisz")
    