body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.active,
.title {
  font-weight: bold;
}
.description {
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 1px solid grey;
}
span {
  font-weight: normal;
}
